.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #161616; /* Ajuste conforme necessário */
    padding: 10px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    /* max-width: 600px; */
    background: #2a2a2a; /* Ajuste conforme necessário */
    padding: 10px;
    border-radius: 6px;
    color: #fff;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex: 1;
}

.status-category {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.ver-mais {
    color: #1976D2;
    text-decoration: none;
    margin-top: auto;
    margin-right: 0;
}

h2 {
    margin: 0
}

.category{
    border: 1px solid #1976D2;
    color: #1976D2;
    border-radius: 6px;
    background-color: transparent;
    padding: 10px;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.3s;
}

.category:hover{
    color: #fff;
    border: 1px solid #1976D2;
    background-color: #1976D2;
    border-radius: 6px;
    padding: 10px;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
}

.category-selecionado{
    color: #fff;
    border: 1px solid #1976D2;
    background-color: #1976D2;
    border-radius: 6px;
    padding: 10px;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
}

/* ITENS DE STATUS CORES */
.status-aberto {white-space: nowrap; border-radius: 6px; padding: 10px; text-transform: uppercase; background-color: #8BC34A; color: #fff; } /* Verde */
.status-em-andamento {white-space: nowrap; border-radius: 6px; padding: 10px; text-transform: uppercase; background-color: #FF9800; color: #fff; } /* Laranja */
.status-aguardando-usuário {white-space: nowrap; border-radius: 6px; padding: 10px; text-transform: uppercase; background-color: #03A9F4; color: #fff; } /* Azul claro */
.status-em-espera {white-space: nowrap; border-radius: 6px; padding: 10px; text-transform: uppercase; background-color: #9E9E9E; color: #fff; } /* Cinza */
.status-em-revisão {white-space: nowrap; border-radius: 6px; padding: 10px; text-transform: uppercase; background-color: #2196F3; color: #fff; } /* Azul */
.status-finalizado {white-space: nowrap; border-radius: 6px; padding: 10px; text-transform: uppercase; background-color: #4CAF50; color: #fff; } /* Verde escuro */
.status-cancelado {white-space: nowrap; border-radius: 6px; padding: 10px; text-transform: uppercase; background-color: #F44336; color: #fff; } /* Vermelho */
.status-pendente {white-space: nowrap; border-radius: 6px; padding: 10px; text-transform: uppercase; background-color: #FFC107; color: #fff; } /* Amarelo */
.status-reaberto {white-space: nowrap; border-radius: 6px; padding: 10px; text-transform: uppercase; background-color: #FF5722; color: #fff; } /* Laranja escuro */
/* ITENS DE STATUS CORES */
