.link {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    color: white;
    border: 1px solid #222222;
    border-radius: 6px;
    transition: 0.3s;
}

.link:hover {
    background-color: #222222;
}

.link:active {
    background-color: #303030;
    border: 1px solid #3b3b3b;
}

.icon {
    font-size: 80px;
}

.title {
    font-size: 18px;
    color: #1976D2;
}

.block {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}