.mensagens {
    width: 40%;
    background-color: #222222;
    color: #fff;
    padding: 10px;
    border-radius: 6px;
    white-space: wrap;
}

.div-mensagens {
    width: 100%;
    padding: 5px;
}

.row-normal{
    flex-direction: row;
}
.row-reverse{
    flex-direction: row-reverse;
}

.text-normal{
    text-align: left;
}

.text-reverse{
    text-align: right;
}

.highlight {
  border: 2px solid green;
}